<div id="giscus-container"></div>
<script src="https://giscus.app/client.js"
  data-repo="{{ site.giscus.repo }}"
  data-repo-id="{{ site.giscus.repo_id }}"
  data-category="{{ site.giscus.category }}"
  data-category-id="{{ site.giscus.category_id }}"
  data-mapping="{{ site.giscus.mapping }}"
  data-strict="0"
  data-reactions-enabled="{% if site.giscus.reactions_enabled %}1{% else %}0{% endif %}"
  data-emit-metadata="0"
  data-input-position="{{ site.giscus.input_position | default: 'bottom' }}"
  data-theme="{{ site.giscus.theme | default: 'preferred_color_scheme' }}"
  data-lang="{{ site.giscus.lang | default: 'zh-CN' }}"
  async crossorigin="anonymous">
</script>
